* {
  box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  color: #444;
  text-align: left;
  line-height: 1.4;
  color: #000;
}

footer {
  padding: 35px 0px 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
}

header {
  position: relative;
  background-image: url('./resources/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 175px;
  background-attachment: relative;
  background-position: right top;
  padding: 12% 0;
  margin-top: 63px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

section {
  padding: 15px;
  background-color: #fff;
}

section:nth-child(even) {
  background-color: #E4E4E4;
}

div.content:nth-child(even) {
  background-color: #E4E4E4;
}

button {
    cursor: pointer;
}

.logo {
  position: absolute;
  left: 10px;
  top: 7px;
  max-height: 50px;
}

h1, h2, h3, h4 {
  font-family: 'Nanum Myeongjo', serif;
  padding: 4px;
  margin: 0px;
}

h1{
font-size: 16px;
}

h2 {
    font-size: 16px;
}

/* .headline1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline1 > p {
  font-size: 22px;
  margin: 0px 0px 0px 4px;
  padding: 0px;
  bottom: 0px;
}

.handwritten-hello {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  height: 60px;
  vertical-align: text-bottom;

} */

/* .underline {
  position: absolute;
  bottom: 25px;
  left: 200px;
  height: 15px;
  transform: rotate(5deg);
} */


.section-title {
text-align: center;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
color: #5b5b5b;
letter-spacing: 0.4em;
}

.emphasis {
  font-weight: 700;
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.bolder {
  font-weight: 800;
}

.orange {
  color: #E9A23F;
}

.italic {
  font-style: italic;
}

ul {
  list-style-type: circle;
}

li {
  padding: 6px;
}

section > div {
  padding: 20px;
  /* margin: 20px; ----add back in for larger screens*/
}

div.gray {
  background-color: #E4E4E4;
}

div.white {
  background-color: #fff;
}

ul.app-metadata {
  font-size: 14px;
  list-style: none;
  padding-left: 0px;
}

ul.portfolio {
  list-style: none;
  padding: 4px;
  margin: 0px;
}

ul.portfolio img {
    width: 90%;
}

ul.portfolio li {
  padding: 0px;
  margin-bottom: 10px;
}

ul li.portfolio-links {
  margin-top: 16px;
  margin-bottom: 16px;
}

a.btn {
  font-family: helvetica, sans-serif;
  /* font-size: 14px; */
  font-style: italic;
  background-color: transparent;
  border: 2px solid #E5A449;
  border-radius: 4px;
  color: #E5A449;
  padding: .5em 1em;
  margin-right: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.cta {
  padding: 35px 0px 100px;
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 22px;
}

.cta > p {
  margin: 4px;
}

.subtext {
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 20px;
}

.cta a.btn{
  font-size: 16px;
  width: 75%;
}

a.contact {
  color: #fff;
  border-color: white;
  padding: 8px 32px;
}

.return-top {
  position: absolute;
  z-index: 18;
  top: -20px;
}

img.icon {
  height: 30px;
}

img.icon-lg {
  height: 40px;
}

/* img.rotate {
  transform: rotate(-90deg);
  height: 40px;
} */

/*------CSS for Contact Section-----------*/
.contact-section {
  margin-top: 40px;
  display: flex;
  padding: 0px;
}

.contact-section h1 {
  padding-left: 0px;
}

.column-1 {
  width: 50%;
  height: 500px;
}

.column-2 {
  width: 50%;
}

img.contact {
  width: 280px;
  padding: 10px;
  height: auto;
}

ul.inline {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

ul.inline>li {
  margin: 0px;
  padding-left: 0px;
  padding-right: 20px;
}

/*----------Slide show styles------------*/

/*hide images by default*/
.slides {
  display: none;
}

.slideshow-container {
  position: relative;
  text-align: center;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

.slideshow-container img {
  width: 100%;
  margin: 20px 0px 4px;
}


/*next & prev buttons*/
.transparent {
  opacity: .8;
}

.prev, .next {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 800;
  border-radius: 50%;
  user-select: none;
}

/*position next button to right side*/
.next {
  left: 27px;
}

.prev {
  right: 27px;
 }

/* On hover add black background */
.prev:hover, .next:hover {
  font-size: 24.2px;
  height: 33px;
  width: 33px;
}

/*caption text*/
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

/*number text, 1/3 etc.*/
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*doct, circle indicator*/
.dots {
  text-align: center;
  margin-bottom: 12px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 2px;
  background-color: #e4e4e4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:active, .dot:hover, .active {
  background-color: #5b5b5b;
}
