nav {
  background-color: rgba(255, 255, 255, .8);
  position: fixed;
  padding: 1% 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 62px;
  border-bottom: 0px solid #E4E4E4;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .1)
}

.logo {
  position: absolute;
  left: 10px;
  top: 7px;
  max-height: 50px;
}

/*hamburger dropdown content*/
.nav-content {
  display: none;
  right: 0px;
  top: 65px;
  position: absolute;
  background-color: #fff;
  padding: 10px 40px 10px 20px;
  margin: 0px;
}

/*links inside hamburger*/
.nav-content a {
  color: #000;
  text-decoration: none;
  display: block;
}

/*change color of hamburger links on hover*/
.nav-content a:hover {
  background-color: #ddd;
}

nav ul {
font-size: 16px;
list-style: none;
text-align: left;
}

ul.nav-content>li:first-child {
  font-style: italic;
}



/* hamburger menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 22px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

.nav .menu-btn {
  display: none;
  float: right;
}

.nav .menu-btn:checked ~ ul.nav-content {
  display: block;
  max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.hide {
  display: none;
}


/*----------CSS for tablets--------------*/
@media only screen and (min-width: 600px) {

  .nav .menu-icon {
    display: none;
    }

  .nav-content {
      display: inline-block;
      top: 0;
      padding: 0;
      margin: 0;
      background-color: rgba(0, 0, 0, 0);
    }

  .nav-content li {
    float: left;
    padding: 0;
    }

  .nav-content li a {
    margin: 1.3em;
    padding: 4px 8px;
    }

  .nav-content .menu {
    clear: none;
    float: right;
    max-height: none;
    }

 nav ul>li:first-child {
   display: none;
 }

 .nav-content a:hover {
   border: 2px solid #E5A449;
   border-radius: 4px;
   background-color: white;
   padding: 2px 6px;
 }

}


/*--------------CSS for laptops---------------*/
@media only screen and (min-width: 834px) {
  nav {
    height: calc(62px * 1.1);
  }

  .logo {
    max-height: calc(50px * 1.1);
  }
}

@media only screen and (min-width: 920px) {
  nav {
    height: calc(62px * 1.2);
  }

    .logo {
      max-height: calc(50px * 1.2);
    }

  nav ul {
    font-size: calc(16px * 1.1);
  }
}

@media only screen and (min-width: 1280px) {
    nav ul {
      font-size: calc(16px * 1.1);
    }
  }
